<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My favorite emoji</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
    <a href="index.html">Home</a>
    <a href="emoji.html">Emoji</a>
    <a href="images/gallery.html">Gallery</a>
</nav>
<h1>My favorite emoji</h1>
<p>I don't just <em>like</em> emoji,<br>
I <strong>love</strong> emoji!</p>
<p>Here's a table of my most-used emoji:</p>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Emoji</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>🐞</td>
            <td>Lady Beetle</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>🐍</td>
            <td>Snake</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>👍</td>
            <td>Thumbs Up Sign</td>
        </tr>
    </tbody>
</table>
</body>
</html>
